= form_for @consumer do |f|
  - if @consumer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@consumer.errors.count, "error")} prohibited this consumer from being saved:"
      %ul
        - @consumer.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
