= render 'dashboard_nav'
.custom.container
  .column-names
    .col-xs-10.names-row.padding-left-30.no-h-padding
      Message
    .col-xs-2.names-row.no-h-padding
      Status
  .convo-list
    - @convos.each do |convo|
      - convo.users.each do |u|
        - if u != current_user
          - @user = u

      .convo
        .col-xs-1.no-h-padding.img-container

          - if @user.profile_pic == nil
            = image_tag ("//placehold.it/60x60"), class: "img-circle bid-img"
          -else
            - @image = @user.profile_pic.image
            = image_tag @image.url(:small), class: "img-circle bid-img"
        .col-xs-9.convo-info

          = link_to @user.first_name + " " + @user.last_name + " \u2022 " + '("' + convo.subject + '")', new_message_path(:subject => convo.subject, :user_id => @user.id ), class: "convo-subject"
          .convo-latest-message
            = convo.messages.last.info
          .message-date
            = convo.last_msg.strftime("%B %d, %Y")
        .col-xs-2.no-h-padding.status
          - if convo.subject != "inquiry"
            - if current_user.account_type == "Vendor"
              - @post = Post.where(:title => convo.subject, user_id: @user.id ).first
              - @bid = @post.bids.where(user_id: current_user.id).first
            - else
              - @post = Post.where(:title => convo.subject, user_id: current_user.id ).first
              - @bid = @post.bids.where(user_id: @user.id).first
            .bid-status{class: "#{@bid.status}"}
              - if @bid.status == "bid-pending"
                = "Bidded \u2022 Pending" 
              - elsif @bid.status == "accepted"
                = "Bid Won"
              - elsif @bid.status == "Lost"
                Bid Lost
              - else
                Bid Cancelled
            .bid-amount
              = number_to_currency(@bid.value)
          - else
            .inquiry
              inquiry




