%p#notice= notice

%p
  %b Vendor:
  = @vendor_subscription.vendor_id
%p
  %b Subcategory:
  = @vendor_subscription.subcategory_id

= link_to 'Edit', edit_vendor_subscription_path(@vendor_subscription)
\|
= link_to 'Back', vendor_subscriptions_path
