.custom.container.no-h-padding
  %h2 Forgotten Password

  .col-xs-12.col-sm-4.col-sm-offset-4.max-width-300
    = form_tag :reset_password do
      .field
        %h5 First Name
        = text_field_tag 'first_name', nil, class: 'form-control'
      .field
        %h5 Email
        = text_field_tag 'email', nil, class: 'form-control'
      .field
        = submit_tag 'Reset Password', class: 'btn btn-default'

    %hr
    = link_to 'Return to Homepage', :root
