= form_for(@vendor) do |f|
  - if @vendor.errors.any?
    #error_explanation
      %h2
        = pluralize(@vendor.errors.count, "error")
        prohibited this vendor from being saved:
      %ul
        - @vendor.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :business_name
    %br/
    = f.text_field :business_name
  .field
    = f.label :business_description
    %br/
    = f.text_field :business_description
  .field
    = f.label :establish_date
    %br/
    = f.date_select :establish_date
  .field
    = f.label :tax_number
    %br/
    = f.number_field :tax_number
  .field
    = f.label :shipping
    %br/
    = f.check_box :shipping
  =f.fields_for :physical_locations do |pl|
    .field
      = pl.label :address
      %br/
      = pl.text_field :address
    .field
      = pl.label :postal_code
      %br/
      = pl.text_field :postal_code
    .field
      - is_new_location = @physical_location.nil? || @physical_location.id.nil?
      = select(:country, :id, Country.all.collect { |c| [c.name, c.id] }, {prompt: 'Country'}, |
        :selected => is_new_location ? 0 : @physical_location.city.province.country_id) |
      -#
      = select(:province, :id, Province.all.collect { |p| [p.name, p.id] }, {prompt: 'Province'}, |
        :selected => is_new_location ? 0 : @physical_location.city.province_id)  |
      = pl.select(:city_id, City.all.collect { |c| [c.name, c.id] }, prompt: "City")
    .field
      = pl.label :business_phone
      %br/
      = pl.text_field :business_phone
    .field
      = pl.label :other_phone
      %br/
      = pl.text_field :other_phone
    .field
      = pl.label :fax
      %br/
      = pl.text_field :fax
    .field
      = pl.label :business_email
      %br/
      = pl.text_field :business_email
    .field
      = pl.label :business_website
      %br/
      = pl.text_field :business_website
    .field
      = pl.label :sale_location
      %br/
      = pl.check_box :sale_location
  / .fields_for @vendor_sub do |vs|
  /   = select(:industry, :id, Industry.all.collect { |i| [i.name, i.id] }, {prompt: 'Industry'}, |
  /     :selected => is_new_industry ? 0 : @vendor_subscription.subcategory.category.industry_id) |
  /   -#
  /   = select(:category, :id, Category.all.collect { |c| [c.name, c.id] }, {prompt: 'Category'}, |
  /     :selected => is_new_industry ? 0 : @vendor_subscription.subcategory.category_id)  |
  /   = f.select(:subcategory_id, Subcategory.all.collect { |s| [s.name, s.id] }, prompt: "Sub-Category")
  .actions
    = f.submit