<h1>Listing vendors</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>Business description</th>
      <th>Establish date</th>
      <th>Tax number</th>
      <th>Shipping</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.business_name %></td>
        <td><%= vendor.business_description %></td>
        <td><%= vendor.establish_date %></td>
        <td><%= vendor.tax_number %></td>
        <td><%= vendor.shipping %></td>
        <td><%= vendor.verified %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
