<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @vendor.business_name %>
</p>

<p>
  <strong>Business description:</strong>
  <%= @vendor.business_description %>
</p>

<p>
  <strong>Establish date:</strong>
  <%= @vendor.establish_date %>
</p>

<p>
  <strong>Tax number:</strong>
  <%= @vendor.tax_number %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @vendor.shipping %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @vendor.verified %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
