%p#notice= notice
%h3 Business Info
%p.row
  %strong Business name:
  = @vendor.business_name
  %strong Business description:
  = @vendor.business_description
  %strong Establish date:
  = @vendor.establish_date
  %strong Tax number:
  = @vendor.tax_number
  %strong Shipping:
  = @vendor.shipping
  %strong Verified:
  = @vendor.verified

%h3 Personal Infos
- for pi in @vendor.personal_infos
  %p.row
    %strong legal_first_name
    = pi.legal_first_name
    %strong legal_last_name
    = pi.legal_last_name
    %strong preferred_name
    = pi.preferred_name
    %strong email
    = pi.email
    %strong title
    = pi.title
    %strong primary_phone
    = pi.primary_phone
    %strong secondary_phone
    = pi.secondary_phone

%h3 Payment Infos
%strong Accepted Payments
- for ap in @vendor.payment_methods
  %p
    = ap.name
    - if (@vendor.accepted_payment_methods.where(payment_method_id: ap.id).first.preferred)
      preferred


-# Physical Location Part Starts-----------------------------------------
%h3 Locations
- for pl in @vendor.physical_locations
  .row
    %p
      %strong Address
      = pl.address
      %strong Postal Code:
      = pl.postal_code
      %strong City
      = pl.city.name
      %strong Province
      = pl.city.province.name
      %strong Country
      = pl.city.province.country.name
    %p
      %strong business_phone
      = pl.business_phone
      %strong other_phone
      = pl.other_phone
      %strong fax
      = pl.fax
    %p
      %strong business_email
      = pl.business_email
      %strong business_website
      = pl.business_website
      %strong sale_location
      = pl.sale_location

-# Industry Part Starts-----------------------------------------
%h3 Industries
- for vs in @vendor.vendor_subscriptions
  %p.row
    %strong Industry
    = vs.subcategory.category.industry.name
    %strong Category
    = vs.subcategory.category.name
    %strong Subcategory
    = vs.subcategory.name

%h3 Delivery Locations
- for dl in @vendor.delivery_locations
  %p.row
    %strong City
    = dl.city.name
    %strong Province
    = dl.city.province.name
    %strong Country
    = dl.city.province.country.name

%h3 Links
- for el in @vendor.external_links
  %p.row
    %strong Type
    = el.external_source.source_type
    %strong Link
    %a
      =el.link

%h3 Images
%p
  - for a in @vendor.assets
    = image_tag a.image.url(:thumb)

- if can? :update, @vendor
  = link_to 'Edit', edit_vendor_path(@vendor)

= link_to 'Back', vendor_path(@vendor)
