%h1 Listing reviews

%table
  %tr
    %th Raiting
    %th Feedback
    %th User
    %th Vendor
    %th
    %th
    %th

  - @reviews.each do |review|
    %tr
      %td= review.raiting
      %td= review.feedback
      %td= review.user_id
      %td= review.vendor_id
      %td= link_to 'Show', review
      %td= link_to 'Edit', edit_review_path(review)
      %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
