%h1 Listing user_sessions
%table
  %thead
    %tr
      %th Username
      %th Password
      %th{:colspan => "3"}
  %tbody
    - if !@user_sessions.nil?
      - @user_sessions.each do |user_session|
        %tr
          %td= user_session.username
          %td= user_session.password
          %td= link_to 'Show', user_session
          %td= link_to 'Edit', edit_user_session_path(user_session)
          %td= link_to 'Destroy', user_session, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User session', new_user_session_path
