!!!
%html
  %head
    %title NEX
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #nav
      = link_to "View Vendors", vendors_path
      - if can? :index, :user
        = link_to "Users", users_path
      - if can? :create, :post
        = link_to "Posts", posts_path
      - if current_user
        = link_to "Edit Account", edit_user_path(current_user)
        - profile = "Profile"
        - if current_user.account.nil?
          = link_to profile, user_path(current_user)
        - else
          = link_to profile, show_account_user_path(current_user)
        = link_to "Logout", :logout
      - else
        = link_to "Register", new_user_path
        |
        = link_to "Login", :login
    = yield