!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title NEX
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=false", :name => "viewport"}/
    %link{:href => "img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "img/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag Sync.adapter_javascript_url
    = csrf_meta_tags
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59002638-1', 'auto');
      ga('send', 'pageview');
  %body
    - if current_user
      %nav#logged-in-nav.navbar.navbar-default
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header.col-sm-1
            %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.col-sm-12.navbar-brand{:href => "/", style: "font-family:Lobster,'cursive';"} 
              = image_tag("/img/logo-small.png")
          / Collect the nav links, forms, and other content for toggling
          .navbar-search.col-sm-5.hidden-xs
            %input.search-input.center-navbar.col-sm-8{type: "text", placeholder: "What are you looking for?"}
            %button.btn.submit-search.center-navbar.col-sm-3
              Browse
          #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar-right
            %ul.nav.navbar-nav.center-navbar.col-sm-12
              %li.col-sm-3
                = link_to posts_path, class: "post-btn" do 
                  %button.btn.new-post
                    Posts
              %li.notification-li
                %a.dtoggle#menu1
                  %span.glyphicon.glyphicon-tasks{"aria-hidden" => "true"}
                  %span.caret
                .menu1.hidden.dmenu{:role => "menu"}
                  .notifications
                    .new
                      = sync_new partial: 'notification', resource: PublicActivity::Activity.new
                    - @activities = PublicActivity::Activity.where(recipient_id: current_user.id).order(created_at: :desc)
                    
                    - @activities.each do |activity|
                      = sync partial: 'notification', resource: activity
                    - if @activites == nil
                      You Have No Notifications 

                
              %li
                =link_to "#{current_user.first_name} #{current_user.last_name}", overview_user_path(current_user), class: "nav-user"
              %li.hidden-xs
                - if current_user.account.assets.empty?
                  = image_tag ("//placehold.it/60x60"), class: "img-circle"
                -else
                  - @image = current_user.account.assets.last.image
                  = image_tag @image.url(:small), class: "img-circle" 
              / %li.non-active.secondPage
              /   %a{:href => "#secondPage"} current listings
              / %li.non-active.thirdPage
              /   %a{:href => "#thirdPage"} Why Pick me?
    / .notifications.col-xs-4.col-xs-offset-8
    /   - if request.path != "/" && current_user
    /     .new  

    / - if request.path != "/" && current_user
    /   .col-xs-4
    /     = link_to 'My Profile', current_user
    /     = link_to 'Notification Settings', :notification_settings

    / #nav
    /   = link_to "View Vendors", vendors_path
    /   - if can? :index, :user
    /     = link_to "Users", users_path
    /   - if can? :create, :post
    /     = link_to "Posts", posts_path
    /   - if current_user
    /     = link_to "Edit Account", edit_user_path(current_user)
    /     - profile = "Profile"
    /     - if current_user.account.nil?
    /       = link_to profile, user_path(current_user)
    /     - else
    /       = link_to profile, show_account_user_path(current_user)
    /     = link_to "Logout", :logout
    /   - else
    /     = link_to "Register", new_user_path
    /     |
    /     = link_to "Login", :login
    = yield
